
  body{
    margin: 0;
}

.mynavbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 31);
    padding: 20px 100px;
    align-items: center;

}

.left{
    display: flex;
    align-items: center;
}



.logotext{
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size:1.8em;
    padding-bottom: 5px;
}

.search{
    margin-left: 40px;
}




.signin, .logout{
    color: aliceblue;
    background-color: rgb(17, 66, 165);
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    padding: 10px 25px;
    cursor: pointer;
}


.search input{
    background-color: rgb(60, 63, 63);
    border-radius: 35px;
    height: 38px;
    width: 400px;
    border: none;
    padding-left: 20px;
    font-size: 1.2em;
    color: rgb(230, 227, 224);
}

.search button{
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgb(17, 66, 165);
    border: none;
    padding: 12.5px 15px;
    cursor: pointer;
}

.search input:focus{
   outline: none;
}

::placeholder {
    padding-left: 10px;

  }
.fa-search{
    color: aliceblue;

}

.fa-shopping-bag{
    color: aliceblue;
    
}



.cartCount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(201, 11, 11);
    border-radius:50%;
    height: 24px;
    width: 24px;
    line-height:24px;
    color: aliceblue;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 2px;
}




.right{
    display: flex;
    align-items: center;
}


.menubar{
    height: 45px;
    background-color: rgb(31, 33, 44);
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}


.message{
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    color: rgb(55, 57, 59);
    font-family: Arial, Helvetica, sans-serif;
    margin-block-end: 0.5em;
}
.success-container {
           
	 width: 112px;
	 margin-bottom:50px;
         margin-left: auto;
         margin-right: auto;
         margin-top: 90px;
}
 .outer-circle {
	 height: 90px;
	 width: 90px;
	 border: 2px solid #4bdcbc;
	 border-radius: 100%;
	 padding: 12px;
}
 .svg-success {
	 display: inline-block;
	 vertical-align: top;
	 height: 90px;
	 width: 90px;
	 opacity: 1;
	 overflow: visible;
}
 @keyframes success-tick {
	 0% {
		 stroke-dashoffset: 16px;
		 opacity: 1;
	}
	 100% {
		 stroke-dashoffset: 31px;
		 opacity: 1;
	}
}
 @keyframes success-circle-outline {
	 0% {
		 stroke-dashoffset: 72px;
		 opacity: 1;
	}
	 100% {
		 stroke-dashoffset: 0px;
		 opacity: 1;
	}
}
 @keyframes success-circle-fill {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 .svg-success .success-tick {
	 fill: none;
	 stroke-width: 1.5px;
	 stroke: #4bdcbc;
	 stroke-dasharray: 15px, 15px;
	 stroke-dashoffset: -14px;
	 animation: success-tick 0.6s ease 1.3s forwards;
	 opacity: 0;
}
 .svg-success .success-circle-outline {
	 fill: none;
	 stroke-width: 1.5px;
	 stroke: #4bdcbc;
	 stroke-dasharray: 72px, 72px;
	 stroke-dashoffset: 72px;
	 animation: success-circle-outline 1.2s ease-in-out 0s forwards;
	 opacity: 0;
}
 .svg-success .success-circle-fill {
	 fill: #81c038;
	 stroke: none;
	 opacity: 0;
	 animation: success-circle-fill 300ms ease-out 1100ms forwards;
}
 @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	 .svg-success .success-tick {
		 stroke-dasharray: 0;
		 stroke-dashoffset: 0;
		 animation: none;
		 opacity: 1;
	}
	 .svg-success .success-circle-outline {
		 stroke-dasharray: 0;
		 stroke-dashoffset: 0;
		 animation: none;
		 opacity: 1;
	}
	 .svg-success .success-circle-fill {
		 animation: none;
		 opacity: 1;
	}
}
 .shopping{
    color: aliceblue;
    background-color: rgb(37, 88, 189);
    border: none;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
}